## Подключаем все наши библиотеки и проверяем что они запускаются

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns

from sklearn.preprocessing import OrdinalEncoder

# import warnings
# warnings.filterwarnings("ignore")

## Признаки:

* species - вид (нужно предсказать)
* island - остров
* bill_length_mm  - длина клюва
* bill_depth_mm - ширина клюва
* flipper_length_mm- длина ласт
* body_mass_g - масса
* sex - пол

### Загрузите набор данных

In [5]:
data = pd.read_csv('penguins.csv')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

### Изучите значения признаков, отсутствующие значения, дубликаты. Дубликаты удалите

In [8]:
data.describe(include = 'O')

       species  island   sex
count      344     344   333
unique       3       3     2
top     Adelie  Biscoe  male
freq       152     168   168

In [7]:
data.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [9]:
data.duplicated().sum()

0

In [10]:
data[data['bill_length_mm'].isna()]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [11]:
data = data.dropna(subset=["bill_length_mm"])

### Пропуски, которые можно заменить,  замените. Если пропуски останутся, то удалите строки с пропусками.

In [12]:
data['sex'] = data['sex'].fillna('female')

In [14]:
data.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [15]:
data = data.reset_index(drop=True)

In [16]:
data.shape

(342, 7)

In [18]:
data_number = data.select_dtypes(include=[np.number])
data_number.columns

Index(['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g'], dtype='object')

### Замените категориальные признаки на числовые с помощью LabelEncoder (для целевого) и OrderEncoder (для нецелевых)